
<div class="modal fade" id="adminLoginModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Partner Sign Up</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="login-form">
                    <div class="form-group">
                        <label for="loginEmail">Email address</label>
                        <input type="email" class="form-control loginAdminEmail" id="loginAdminEmail" autocomplete="email"
                            aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="loginPw">Password</label>
                        <input type="password" class="form-control loginAdminPw" id="loginAdminPw" autocomplete="new-password"
                            placeholder="Password">
                    </div>
                    <button type="submit" class="mt-3 btn btn-secondary">Login</button>
                    <button class="btn btn-primary d-lg-none mx-2 mt-3" data-bs-dismiss="modal" id="smSignUp" data-bs-toggle="modal" data-bs-target="#adminSignUpModel">Sign-Up instead</button>
        </form>
        </div>
    </div>
  </div>
</div>
<script src="/js/admin_login.js"></script>

