<table class="table">
  <thead>
    <tr>
      <th scope="col">Service</th>
      <th scope="col">1 Bag</th>
      <th scope="col">2 Bags</th>
      <th scope="col">3+</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Wash&Fold</th>
      <td>45</td>
      <td>40</td>
      <td>35</td>
    </tr>
    <tr>
      <th scope="row">Dry Clean</th>
      <td>60</td>
      <td>55</td>
      <td>50</td>
    </tr>
  </tbody>
</table>