<div class="hero">
    <div class="container ">
        <div class="row">
            <div class="col-5 ">
                <div class="row align-items-center p-3" align="center">
                    <h2>Dry Clean </h2>
                    <h3>or</h3>
                    <h2>Wash & Fold?</h2>
                    <p>One less thing to worry about...</p>
                </div>
                <div class="row align-items-center">
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-secondary" id="loginBtn">Login</button>
                        <span class="p-3">or</span>
                        <button class="btn btn-primary" id="signUpBtn">Sign-Up</button>
                    </div>
                </div>
            </div>
            <div class="col-7 lg-screen-display">
                <form id="loginForm">
                    <div class="form-group">
                        <label for="loginEmail">Email address</label>
                        <input type="email" class="form-control" id="loginEmail" autocomplete="email" aria-describedby="emailHelp"
                            placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="loginPw">Password</label>
                        <input type="password" class="form-control" id="loginPw" autocomplete="current-password" placeholder="Password">
                    </div>
                    <button type="submit" class="mt-3 btn btn-primary">Login</button>
                </form>
                <form id="signUpForm">
                    <div class="form-group">
                        <label for="signUpEmail">Email address</label>
                        <input type="email" class="form-control" id="signUpEmail" autocomplete="email" aria-describedby="emailHelp"
                            placeholder="Enter email">
                        <small id="emailHelp" class="">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="signUpPw">Password</label>
                        <input type="password" class="form-control" id="signUpPw" autocomplete="new-password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Re-Enter Password</label>
                        <input type="password" class="form-control" id="pwVerify" autocomplete="new-password" placeholder="Re-Enter Password">
                    </div>
                    <button type="submit" class="mt-3 btn btn-primary">Sign-Up</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="./js/home.js"></script>
</script>