<div class="hero">
    <div class="container ">
        <div class="row">
            <div class="col-4 ">
                <div class="row align-items-center p-3" align="center">
                    <h2>Dry Clean </h2>
                    <h3>or</h3>
                    <h2>Wash & Fold?</h2>
                    <label for="zip-input">Find out what's available near you...</label>
                </div>
                <div class="row align-items-center">
                    <div class="d-flex justify-content-center">
                        <div class="input-group mb-3 w-50">
                            <input id="zip-input" type="text" class="form-control" placeholder="Zip Code"
                                aria-label="Zip Code" aria-describedby="findZip">
                            <button class="btn btn-secondary" type="button" id="findZip">Search</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8 ">
            </div>
        </div>
    </div>
</div>
<script src="./js/home.js"></script>
</script>