:root {
    --primary-color: #a1cae2;
    --secondary-color: #c2b092;
    --tertiary-color: #cfc5a5;
    --quarternary-color: #eae3c8;
}

/* -----Global Rules */
* {
    font-family: 'Cormorant Unicase', serif;
}

p {
    font-size: 1em;
}

/* -----Hero Rules */
.dryCleanDiv{
    background-color: rgba(96, 96, 96, .5);
    border-radius: 25px;
    color: white;
    width: 250px;
}
#smHeading {
    color: #fff;
    text-shadow: 2px 2px #000;
}

#smHeading h2 {
    font-size: 50px;
}

#carouselHero {
    text-shadow: 1px 1px #ffffff;
}

#loginForm {
    display: none;
    background-color: rgba(96, 96, 96, .5);
    border-radius: 25px;
    width: 80%;
    padding: 15px;
    color: white;

}

#signUpForm {
    display: none;
    background-color: rgba(96, 96, 96, .5);
    border-radius: 25px;
    width: 80%;
    padding: 15px;
    color: white;
    height: 300px;
    overflow-y: scroll;
}

.navbar {
    background: none;
}

.navbar-brand {
    font-size: 3rem;
}

.hero {
    background-image: url(../images/Folded-Clothes-1024x337.jpeg);
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 550px;
    position: relative;
    opacity: .7;
}

.lg-screen-display {
    display: flex;
    align-items: center;
    justify-items: center;
}


.background-gray {
    background-color: rgba(96, 96, 96, .6);
    border-radius: 25px;
}

.text-shadow {
    text-shadow: 2px 2px #000000;
}

.text-shadowW {
    text-shadow: 1px 1px #ffffff;
}

.ctaText p::first-letter {
    font-size: 200%;
}
.ctaImg{
    background-image: url(../images/oh-no.png);
    background-size: cover;
    height: 130px;
}
.ctaImg2{
    height: 80%;
}

#footerBody {
    background-color: var(--quarternary-color);
}

/* ------admin login page */
.loginHero {
    background-image: url(../images/hanging-clothes.jpeg);
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .7;
    width: 100%;
    height: 100%;
}

.heroContent {
    display: flexbox;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 18%;
}

/* --------------dashboard------- */
.dashHero {
    background-image: url(../images/shirts.jpeg);
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .7;
    width: 100%;
    height: 100%;
}

/* -----------cust dash-------- */
.overflow-auto {
    height: 600px;
}
thead{
    background-color: #e7f1ff;
}
@media screen and (max-width: 991px) {

    /* ----Hero Rules */
    .hero {
        background-image: url(../images/towels.jpeg);
        background-size: cover;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 750px;
        position: relative;
        opacity: 1;
    }

    #windowRt {
        display: none;
    }
}

@media screen and (max-width: 500px) {

    /* ----Hero Rules */
    .hero {
        background-image: url(../images/towels.jpeg);
        background-size: cover;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 700px;
        position: relative;
        opacity: 1;
    }
}